@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  padding: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  margin: 0;
}

.setMaxWidth {
  max-width: 720px;
  margin: 0 auto !important;
}

.subheader {
  font-size: 18px;
}

.subheader img {
  width: 18px;
  margin-right: 8px;
  vertical-align: text-top;
}
